 <h2>Sign up</h2>
 
  {% for message in form.name.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% for message in form.email.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  {% for message in form.password.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  <form action="{{request.path}}" method=post>
    <h2 class="form-signup-heading">Please sign up</h2></br>
    Name:<input name="name" type="text" required></br>
    Phone:<input name="phone" type="text" required></br>
    Email:<input name="email" type="email" required></br>

    Password:<input name="password" type="password" required></br>
    <!--<input name="username" type="text" class="form-control" placeholder="Username" required autofocus>-->
    <!--<input name="email" type="email" class="form-control" placeholder="Email address" required>-->
    <!--<input name="password" type="password" class="form-control" placeholder="Password" required>-->
    <!--<input name="confirm" type="password" class="form-control" placeholder="Password Confirm" required>-->
    {{ form.hidden_tag() }}
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Create Acount</button>
  </form>
     